@font-face {
    font-family: MontExtra;
    src: url('/assets/fonts/Mont-ExtraLight.ttf');
}

@font-face {
    font-family: MontHeavy;
    src: url('/assets/fonts/Mont-Heavy.ttf');
}

@font-face {
    font-family: NotoSans;
    src: url('/assets/fonts/NotoSans-Regular.ttf');
}

@font-face {
    font-family: NotoSansBold;
    src: url('/assets/fonts/NotoSans-Bold.ttf');
}


@font-face {
    font-family: NotoSansRegular;
    src: url('/assets/fonts/NotoSans-Regular.ttf');
}

@font-face {
    font-family: NNotoSansLight;
    src: url('/assets/fonts/NotoSans-Light_0.ttf');
}

@font-face {
    font-family: archi;
    src: url('/assets/fonts/archi_mt_test3-Bold.otf');
}



a:lang(ka) {
    font-family: NotoSansBold!important;
}

button:lang(ka) {
    font-family: NotoSansBold!important;
}

h1:lang(ka) {
    font-family: NotoSansBold!important;
}

h3:lang(ka) {
    font-family: NotoSansBold!important;
}

h4:lang(ka) {
    font-family: NotoSansBold!important;
}

h2:lang(ka) {
    font-family: NotoSansBold!important;
}

p:lang(ka) {
    font-family: NotoSansRegular!important;
}

span:lang(ka) {
    font-family: NotoSansLight!important;
}

* {
    margin: 0;
}

ul {
    padding: 0;
}

h2 {
    font-family: MontHeavy;
}

a {
    text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus {
    box-shadow: unset !important;
    outline: none !important;
}

textarea:focus {
    box-shadow: unset !important;
    outline: none !important;
}

/* body {
    background-image: url(/assets/images/repeat.png);
    background-position: center;
    background-repeat: no-repeat;
    z-index: 99;
} */


.main_container {
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url(/assets/images/line.png);
}

.top_slider {
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



#header_fluid {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* background-color: rgba(0, 0, 0, .66); */
    height: 90px;
    width: 100%;
    /* padding: 0 400px; */
    position: absolute;
    z-index: 999;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 30px !important;
    color: #676363;
    /* opacity: 0.32; */
    font-size: 25px;
    font-family: NotoSans;
    font-weight: bold;
}

.swiper-container2 .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-current {
    color: white !important;
}

.swiper-pagination-current {
    color: white;
}

.swiper-button-prev {
    background-image: url(/assets/images/left.png) !important;
}

.swiper-button-next {
    background-image: url(/assets/images/left.png) !important;
    transform: rotate(180deg);
}


.swiper-button-next:hover {
    background-image: url(/assets/images/right.png) !important;
    transform: rotate(0);
}

.swiper-button-prev:hover {
    background-image: url(/assets/images/right.png) !important;
    transform: rotate(180deg);
}

.arrows {
    width: 400px;
    display: flex;
    position: absolute;
    bottom: 45px;
    left: 40%;
}

.swiper-button-next,
.swiper-button-prev {
    width: 45px !important;
    height: 44px !important;
    background-size: 35px 24px !important;
    outline: none;
    border: none;
}

.swiper-container2 {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-container3 {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    /* margin-left: 340px; */
}

.header_blur {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.header_blur img {
    width: 100%;
    position: absolute;
    bottom: 0;
}


.main_logo {
    width: 285px;
    height: 175px;
    display: flex;
    z-index: 999;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url(/assets/images/logobg.png);
}

.main_logo img {
    margin-top: 25px;
}

.main_nav {
    display: flex;
    height: 90px;
    background-color: rgba(0, 0, 0, .66);
    align-items: center;
    justify-content: flex-start;
    width: calc(100% - 690px);
}

.haschild {
    position: relative;
    transition: 0.5s;
}

.haschild:hover .drop_menu {
    opacity: 1;
    transition: 0.5s;
}

.main_menu > ul {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_menu > ul > li {
    list-style-type: none;
    padding: 0 20px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.drop_menu {
    list-style-type: none;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
}

.drop_menu li {
    margin-bottom: 10px;
}

.drop_menu li a {
    transition: 0.5s;
}

.drop_menu li a:hover {
    opacity: 0.6;
    transition: 0.5s;
}

.drop_menu {
    position: absolute;
    height: 180px;
    background-color: #009BDF;
    display: flex;
    flex-direction: column;
    bottom: -155px;
    right: -7px;
}

.main_menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    font-family: NotoSans;
}

.main_menu > ul > li:first-child > a::before {
    content: "";
    position: absolute;
    width: 12px;
    right: -20px;
    top: 50%;
    height: 6px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/assets/images/dropdown.png);
}

.main_menu > ul > li:nth-child(2) > a::before {
    content: "";
    position: absolute;
    width: 12px;
    right: -20px;
    top: 50%;
    height: 6px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/assets/images/dropdown.png);
}

.language_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    background-color: rgba(0, 0, 0, .66);
}

.language_nav span a{
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    padding: 0 7px;
    font-family: NotoSans;
}

.language_nav.active {
    color: #F0330E;
}

.services_blue {
    background-color: #009BDF;
    height: 45px;
    width: 945px;
    bottom: -45px;
    right: 0;
    position: absolute;
}

.services_blue img {
    position: absolute;
    right: 0;
}

.slider_intro {
    width: 400px;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    flex-direction: column;
}

.slider_intro::before {
    content: "";
    position: absolute;
    width: 75px;
    height: 6px;
    background-color: #F0330E;
}

.slider_intro::after {
    content: "Project's Name";
    position: absolute;
    font-family: NotoSans;
    color: white;
    left: -18%;
    top: 18%;
    font-size: 13px;
    transform: rotate(-90deg);
}

.slider_intro h1 {
    color: white;
    font-size: 65px;
    font-family: MontHeavy;
    padding-bottom: 25px;
}

.slider_intro span {
    font-size: 19px;
    color: white;
    font-family: NotoSans;
}

.slider_intro a {
    font-family: MontHeavy;
    font-size: 15px;
    color: white;
    margin-top: 50px;
}

.services_container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.services_background {
    padding-top: 180px;
    position: relative;
    z-index: 9;
}

.services_title {
    position: relative;
    width: 280px;
}

.services_column {
    margin-top: 70px;
}

.services_title h2 {
    color: #2D2D2D;
    font-size: 38px;
    position: relative;
    z-index: 9;
}

.services_title img {
    position: absolute;
    top: -115%;
    right: 30px;
}

.services_section {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.services_block {
    width: 25%;
    margin-bottom: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services_block img {
    width: 50px;
    height: 45px;
    object-fit: contain;
}

.project {
    position: relative !important;
    left: initial !important;
    top: initial !important;
}

.services_block span {
    font-size: 17px;
    margin-left: 22px;
    color: #2D2D2D;
    font-family: MontExtra;
}

.projects_container {
    padding-top: 90px;
    /* width: 1200px; */
    margin: 0 auto;
    position: relative;
}

.projects_container>img {
    position: absolute;
    left: -35%;
    top: -25%;
}

#masonry-grid {
    margin-top: 90px;
}

.projects_title {
    position: relative;
    width: 280px;
}

.projects_title h2 {
    color: #2D2D2D;
    font-size: 38px;
    position: relative;
    z-index: 9;
}

.projects_title img {
    position: absolute;
    top: -115%;
    right: 30px;
}

.titles_container {
    display: flex;
    max-width: 1200px;
    width: 95%;
    margin-bottom: 55px;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

.projects_filters {
    display: flex;
    padding: 0;
    position: relative;
    z-index: 999;
}

.projects_filters button:focus {
    outline: none;
}

.projects_filters button {
    list-style-type: none;
    border: 1px solid #888888;
    padding: 20px 30px;
    font-size: 14px;
    color: #2D2D2D;
    cursor: pointer;
    font-family: MontHeavy;
    transition: 0.5s;
    background-color: white;
}

.projects_filters button:nth-child(2) {
    border-left: unset;
    border-right: unset;
}

.projects_filters button:hover {
    color: #F0330E;
    transition: 0.5s;
}

.projects_full {
    position: relative;
    margin-right: 75px;
}

.projects_full span a {
    font-size: 16px;
    color: #2D2D2D;
    font-family: MontHeavy;
    position: relative;
    z-index: 9;
}

.projects_full img {
    position: absolute;
    right: -75px;
    top: -120%;
    z-index: 1;
}

.projects_box {
    width: 100%;
    height: 765px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    left: 300px;
}

/* .hideme {
    opacity:0;
} */

.wow {
    position: relative;
    z-index: 999;
}

.projects_top div {
    margin-left: 15px;
}

.projects_top {
    position: initial !important;

    display: flex;
    width: 100%;
    height: 49% !important;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.projects_top div:first-child {
    width: 435px;
}

.projects_top div:nth-child(2) {
    width: 660px;
}

.projects_top div:nth-child(3) {
    width: 435px;
}

.projects_top div:nth-child(4) {
    width: 660px;
}

.projects_top div {
    margin-bottom: 15px;
}

.projects_top div:nth-child(5) {
    width: 585px;
    height: 324px;
}

.projects_top div:nth-child(6) {
    width: 510px;
    height: 324px;
}

.projects_top div:nth-child(7) {
    width: 585px;
    height: 324px;
}

.projects_top div:nth-child(8) {
    width: 510px;
    height: 324px;
}

.projects_top div {
    margin-bottom: 15px;
}

.btn-primary:hover {
    color: #fff;
    background-color: white;
    border-color: unset;
}

.p_t_left {
    width: 436px;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.p_t_left img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.p_t_right img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.p_b_left img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.p_b_right img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.p_t_right {
    width: 660px;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.p_b_left {
    width: 585px;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.p_b_right {
    width: 510px;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.projects_info {
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 99;
}

.projects_info h4 {
    font-size: 24px;
    color: white;
    font-family: MontHeavy;
    margin-bottom: 6px;
}

.projects_info span {
    font-size: 12px;
    color: white;
    font-family: NotoSans;
    font-weight: bold;
    margin-left: 15px;
}

.projects_info span img {
    width: 15px;
    height: 22px;
    margin-left: -17px;
    object-fit: contain;
}

.projects_bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}

.clients_container {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.clients_container>img {
    position: absolute;
    right: -29%;
    top: 0%;
}

.clients_title {
    position: relative;
    width: 280px;
}

.clients_title h2 {
    color: #2D2D2D;
    font-size: 38px;
    position: relative;
    z-index: 9;
}

.clients_title img {
    position: absolute;
    top: -115%;
    right: 30px;
}

.clients_section {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
}

.clients_block {
    width: 25%;
    margin-bottom: 70px;
    display: flex;
}

.clients_block img {
    filter: grayscale(100);
    transition: 0.5s;
}

.clients_block img:hover {
    filter: grayscale(0);
    transition: 0.5s;
}


.team_container {
    padding-top: 115px;
    margin-bottom: 300px;
    position: relative;
}

.team_container>img {
    position: absolute;
    left: -11%;
}

.team_bottom {
    position: absolute;
    right: 0;
    z-index: 9;
}

.swiper-container {
    width: 100%;
}


.swiper-container3 .swiper-wrapper {
    /* transform: translate3d(340px, 0px, 0px)!important; */
    width: 100% !important;
    margin-left: 390px;
}

.swiper-container3 .swiper-slide {
    width: 475px !important;
}

.team_bg {
    position: absolute;
    width: 945px;
    height: 745px;
    background-color: #098BDF;
    top: 300px;
    right: 0;
    z-index: 1;
}


.space {
    width: 405px;
    height: 90px;
    background-color: rgba(0, 0, 0, .66);
}

.team_slider {
    display: flex;
    margin-top: 70px;
    position: relative;
    z-index: 9;
}

.swiper-container .swiper-wrapper {
    margin-left: -240px;
}

.swiper-container .swiper-slide {
    /* Center slide text vertically */
    /* width: 2255px !important; */
    width: 1112px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.projects_slider {
    display: flex;
    margin-top: 70px;
    width: auto;
}

.team_column {
    margin: 7px;
}

.team_column>div:first-child {
    margin-bottom: 14px;
}



.team_member {
    width: 475px;
    height: 365px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: .5s;
}


.member_hover {
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 0;
    transition: .5s;
    opacity: 0;
}

.team_member:hover .member_hover {
    opacity: 1;
    transition: .5s;
}

.team_member:hover .read_more {
    opacity: 1;
    transition: .5s;
}


.member_hover>a>img {
    width: 44px !important;
    height: 44px;
    object-fit: contain;
    position: absolute;
    right: 45px;
    top: 30px;
    cursor: pointer;
}

.team_member>img {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.read_more {
    position: absolute;
    right: 35px;
    bottom: 35px;
    opacity: 0;
    transition: .5s;
}

.read_more a {
    display: block;
    color: white;
    font-family: MontExtra;
    font-size: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.read_more img {
    width: 38px;
    height: 15px;
    object-fit: contain;
    margin-top: 15px;
}

.clients_background {
    position: relative;
    padding-top: 180px;
}


.clients_top {
    position: absolute;
    right: 0;
    top: 110px;
}

.team_info {
    position: absolute;
    left: 35px;
    bottom: 35px;
}

.team_info h4 {
    font-size: 24px;
    color: white;
    font-family: MontHeavy;
}

.team_info span {
    font-size: 18px;
    color: #F0330E;
    font-family: MontHeavy;

}


/* TEAM */

.members_container {
    width: 100%;
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url(/assets/images/teambackground.png);
}

.members_container #header_fluid {
    top: 0;
}

.about_pages_blur {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.about_pages_blur img {
    width: 100%;
}

.page_fluid {
    padding: 50px 0;
    position: relative;
    overflow: hidden;
}

.fluid_flexible {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_tags {
    display: flex;
    align-items: center;
}

.title_tags a {
    color: #2D2D2D;
    font-size: 16px;
    font-family: NotoSans;
}

.title_tags a:nth-child(2) {
    margin: 0 20px;
}

.title_arrows {
    position: relative;
}

.title_arrows::before {
    content: "";
    position: absolute;
    background-image: url(/assets/images/pageright.png);
    width: 15px;
    height: 13px;
    background-repeat: no-repeat;
    background-position: center center;
    top: 32%;
    left: -18px;
}

.page_fluid_text {
    z-index: 9;
    position: relative;
}

.page_fluid_text h1 {
    color: #2D2D2D;
    font-size: 51px;
    padding: 15px 0 60px;
    font-family: MontHeavy;
    position: relative;
}

.page_fluid_text h1::before {
    content: "";
    position: absolute;
    height: 5px;
    background-color: #009BDF;
    width: 60px;
    bottom: 25px;
}

.page_fluid_text p {
    color: #2D2D2D;
    font-size: 16px;
}

.members_column {
    padding-top: 90px;
}

.members_column h2 {
    font-size: 37px;
    position: relative;
}

.members_column h2::before {
    content: "";
    position: absolute;
    height: 5px;
    background-color: #F0330E;
    width: 30px;
    top: -15px;
}

.member_column img {
    padding-bottom: 15px;
    cursor: pointer;
    height: 272px;
    object-fit: cover;
    width: 100%;
}

.member_cover {
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
}

.member_column:hover .member_cover {
    opacity: 1;
    transition: 0.5s;
}

.member_column {
    margin-top: 30px;
    position: relative;
}

.member_column h3 {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    font-family: NotoSans;
}

.member_column span {
    font-size: 15px;
    font-family: NotoSans;
    text-align: center;
    display: block;
}

/* TEAM */


/* CLIENTS */

.clients_column {
    padding-top: 10px;
}


.client_logo {
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.5s;
}

.client_logo:hover a {
    opacity: 1;
    transition: 0.5s;
}

.client_logo a {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    text-decoration: none;
    transition: 0.5s;
}

.client_hover {
    width: 100%;
    height: 100%;
    background-color: #009BDF;
}

.hover_space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-left: 25px;
}

.hover_space span {
    font-size: 13px;
    font-family: NotoSans;
    color: white;
}

.hover_space img {
    width: 20px;
    padding-bottom: 15px;
}

/* CLIENTS */


/* CARIER */

.carier_column {
    padding-top: 20px;
}

.carier_box_title {
    width: 100%;
    height: 75px;
    background-color: #F9F9F9;
    border: 1px solid #E2E2E2;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.card-header button {
    font-family: NotoSans;
    font-weight: bold;
    font-size: 16px;
    color: #2D2D2D;
}

.card-header {
    width: 100%;
    height: 75px;
    background-color: #F9F9F9;
    border: 1px solid #E2E2E2;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.card-header span {
    font-family: NotoSans;
    font-weight: bold;
    font-size: 13px;
    color: #2D2D2D;
}

.card-header img {
    cursor: pointer;
    transition: .4s;
}

.card-header img.active {
    transform: rotate(90deg);
    transition: .4s;
}


/* CARIER */

.card-body form {
    padding-top: 45px;
}

.card-body button {
    float: right;
    border: 1px solid #707070;
    background-color: white;
    width: 150px;
    height: 50px;
    color: #2D2D2D;
    font-family: NotoSans;
    font-size: 14px;
}

.card-body button:hover {
    background-color: white;
    color: #2D2D2D;
    outline: unset !important;
    border-color: unset !important;
    box-shadow: unset !important;
}


.card-body .form-row {
    margin-bottom: 35px;
}

.card-body input {
    border-top: unset;
    border-right: unset;
    border-left: unset;
    border-bottom: 1px solid #BFBFBF;
}


/* CARIER */

.carier_box_title h2 {
    font-family: NotoSans;
    font-weight: bold;
    font-size: 16px;
    color: #2D2D2D;
}

.carier_box_title span {
    font-family: NotoSans;
    font-weight: bold;
    font-size: 13px;
    color: #2D2D2D;
}

.carier_box_title img {
    cursor: pointer;
}

.carier_box_info {
    background-color: white;
    border: 1px solid #E2E2E2;
    border-top: unset;
    padding: 25px;
}

.carier_box_info form {
    padding-top: 45px;
}

.carier_box_info button {
    float: right;
    border: 1px solid #707070;
    background-color: white;
    width: 150px;
    height: 50px;
    color: #2D2D2D;
    font-family: NotoSans;
    font-size: 14px;
}

.carier_box_info button:hover {
    background-color: white;
    color: #2D2D2D;
    outline: unset !important;
    border-color: unset !important;
    box-shadow: unset !important;
}


.carier_box_info .form-row {
    margin-bottom: 35px;
}

.carier_box_info input {
    border-top: unset;
    border-right: unset;
    border-left: unset;
    border-bottom: 1px solid #BFBFBF;
}

.carier_box_info p {
    font-size: 15px;
    color: #2D2D2D;
    font-family: NotoSans;
}

.carier_box_title.active {
    background-color: white;
    border-bottom: unset;
}

.clients_slider {
    padding-top: 65px;
}

.clients_slider h3 {
    font-size: 19px;
    color: #2D2D2D;
    font-family: MontHeavy;
}

.clients_slider_row {
    display: flex;
    margin-top: 25px;
    position: relative;
    z-index: 9;
}

.client_column {
    width: 300px;
    display: flex;
    height: 225px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, .13) 0px 2px 17px 0;
    justify-content: center;
    align-items: center;
    position: relative;
}

.client_column::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 45px;
    background-color: #009BDF;
    left: 0;
}

.client_column::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 45px;
    background-color: #009BDF;
    right: 0;
}

.swiper-container4 {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    width: 100%;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 10px;
}

.swiper-container4 .swiper-slide {
    width: 300px !important;
}

.swiper-container4 .swiper-wrapper {
    margin-left: -400px;
}


/* CARIER */

/* SERVICE */


.services_in_title {
    display: flex;
    align-items: center;
}

.services_in_title h2 {
    font-size: 19px;
    font-family: NotoSans;
    font-weight: bold;
    width: 125px;
    margin-left: 15px;
    transition: 0.5s;
}

.service_in_info p {
    text-align: center;
    color: #2D2D2D;
    font-size: 15px;
    font-weight: 300;
    transition: 0.5s;
}

.service_in_info {
    margin-top: 20px;
}

.service_in_container:hover {
    background-color: #009BDF;
    transition: 0.5s;
    cursor: pointer;
}

.service_in_container:hover h2 {
    color: white;
    transition: 0.5s;
}

.service_in_container:hover p {
    color: white;
    transition: 0.5s;
}

.service_in_container {
    width: 100%;
    transition: 0.5s;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    padding: 0 20px;
}

/* SERVICE */

/* WHO WE ARE */

.who_we_are {
    padding-top: 30px;
}

.who_we_are p {
    padding-bottom: 30px;
    font-size: 16px;
    color: #2D2D2D;
    font-family: NotoSans;
}

.projects_in_slider {
    padding-top: 65px;
}

.projects_in_slider h3 {
    font-size: 19px;
    color: #2D2D2D;
    font-family: MontHeavy;
}

.projects_in_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects_slider_row {
    display: flex;
    margin-top: 25px;
    position: relative;
    z-index: 9;
}

.slider_line {
    background-color: #009BDF;
    height: 25px;
    width: 950px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.projects_in_block {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.projects_in_block>img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.projects_in_column {
    display: flex;
    width: 920px;
    justify-content: space-between;
}

.projects_in_column>div {
    width: 370px;
    height: 320px;
}

.projects_in_column>div:nth-child(2) {
    width: 540px;
    height: 320px;
}

.swiper-container5 {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    width: 100%;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 10px;
}

.swiper-container5 .swiper-wrapper {
    margin-left: -80px;
}


.swiper-container5 .swiper-slide {
    width: 920px !important;
}

/* WHO WE ARE */


/* PROJECTS */

.projects_inside_top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
}

.projects_main_inside {
    padding-bottom: 20px;
}

.swiper-container .projects_main_inside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1112px;
}

.galler_slider .projects_main_inside {
    padding-bottom: 11px;
}

.projects_inside_bottom {
    display: flex;
    justify-content: space-between;
}

.pit_left {
    width: 440px;
    height: 390px;
}

.pit_right {
    width: 660px;
    height: 390px;
}

.pib_left {
    width: 590px;
    height: 320px;
}

.pib_right {
    width: 510px;
    height: 320px;
}

.projects_main_inside .projects_in_block {
    width: 100%;
    height: 100%;
}

.projects_load_more {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects_load_more img {
    margin-left: 15px;
}

.projects_load_more button:focus {
    outline: none;
}

.projects_load_more button {
    list-style-type: none;
    border: 1px solid #888888;
    padding: 20px 40px;
    font-size: 14px;
    color: #2D2D2D;
    cursor: pointer;
    font-family: MontHeavy;
    transition: 0.5s;
    background-color: white;
}

.projects_load_more button:nth-child(2) {
    border-left: unset;
    border-right: unset;
}

.projects_load_more button:hover {
    color: #F0330E;
    transition: 0.5s;
}

.project_small_info {
    padding-bottom: 45px;
}

.project_full_info p {
    font-size: 16px;
    font-family: NotoSans;
    color: #2D2D2D;
    padding-bottom: 30px;
}

.small_info_main span {
    color: #2D2D2D;
    font-size: 17px;
    font-family: NotoSans;
}

.small_info_main {
    padding-bottom: 12px;
}

.project_container {
    width: 100%;
    height: 80vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url(/assets/images/line.png);
}

.top_project_slider {
    width: 100%;
    height: 80vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.swiper-container6 {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-container6 .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-current {
    color: white !important;
}

/* PROJECTS */

.about_page_share span{
    color: white;
    font-size: 12px;
    font-family: MontExtra;
    margin-bottom: 10px;
    width: 50px;
    text-align: center;
    display: block;
}

.about_page_share {
    position: absolute;
    bottom: 30px;
    right: 45px;
    z-index: 999;
}


.about_page_share_left span{
    color: white;
    font-size: 12px;
    font-family: MontExtra;
    margin-bottom: 10px;
    width: 50px;
    text-align: center;
    display: block;
}

.about_page_share_left {
    position: absolute;
    bottom: 30px;
    left: 45px;
    z-index: 999;
}

.social_share {
    width: 50px;
    height: 50px;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}

.social_share a img {
    width: 20px;
    height: 25px;
    object-fit: contain;
}

.inside_bg  {
    position: absolute;
    left: -35%;
    top: 2%;
}

.inside_dots {
    position: absolute;
    right: -5%;
    bottom: 25%;
}

.inside_dots_top {
    position: absolute;
    right: -5%;
    top: 2%;
}

/* GALLERY */


.gallery_container {
    width: 100%;
    height: 160px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url(/assets/images/teambackground.png);
}

.gallery_container #header_fluid {
    top: 0;
}

.gallery_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 130px;
}

.gallery_title a {
    color: #2D2D2D;
    font-size: 13px;
    font-family: NotoSans;
    font-weight: bold;
}

.gallery_title a img {
    height: 12px;
    object-fit: contain;
    margin-left: 5px;
}


.gallery_title h2 {
    color: #2D2D2D;
    font-size: 30px;
    font-family: MontHeavy;
    position: relative;
    background-color: white;
    height: 45px;
}

.zoom-gallery a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.zoom-gallery a {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}


.gallery_in_block {
    position: absolute;
    top: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery_in_block>img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.projects_main_inside .gallery_in_block {
    width: 100%;
    height: 100%;
}

.play_video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}

.play_video img {
    width: unset!important;
    height: unset!important;
}

.video_in_block .play_video {
    opacity: 0;
    transition: 0.5s;
}

.play_video span {
    font-family: NotoSans;
    color: white;
    font-size: 13px;
    padding-top: 15px;
}

.video_in_block:hover .play_video {
    opacity: 1;
    transition: 0.5s;
}

.gallery_in_block:hover .gallery_cover {
    opacity: 1;
    transition: 0.5s;
}

.gallery_cover {
    position: absolute;
    z-index: 99;
    top: 0;
    opacity: 0;
    transition: 0.5s;
    width: 100%;
    height: 100%;
}

.gallery_cover img {
    width: 100%;
    height: 100%;
}


.galler_slider {
    display: flex;
    margin-top: 25px;
    position: relative;
    z-index: 9;
}


.swiper-container7 {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    width: 100%;
    z-index: 1;
}



.swiper-container7 .swiper-wrapper {
    margin-left: -80px;
}


.swiper-container7 .swiper-slide {
    width: 1110px !important;
}

.gallery_title h2 img {
    right: -18px;
    position: absolute;
    top: -100px;
    z-index: -1;
}

/* GALLERY */

footer {
    width: 100%;
    min-height: 320px;
    background-color: #3D3D3D;
    position: relative;
}

.footer_container {
    padding-top: 75px;
}

.footer_menu h3 {
    font-size: 17px;
    font-family: NotoSans;
    color: white;
    position: relative;
    font-weight: bold;
    margin-bottom: 45px;
}

.site_map_menu {
    display: flex;
}

.site_map_menu ul {
    width: 360px;
    display: flex;
    flex-wrap: wrap;
}

.site_map_menu ul {
    padding: 0;
}

.site_map_menu ul li {
    list-style-type: none;
    padding: 0 10px 10px;
}

.footer_follow_title h3::before {
    right: 0;
}

.footer_menu h3::before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #F0330E;
    width: 25px;
    bottom: -25px;
}

.site_map_menu a {
    color: white;
    font-size: 13px;
    font-family: NotoSans;
    font-weight: 300;
}

.footer_company_menu ul li {
    list-style-type: none;
    padding-bottom: 10px;
}

.footer_company_menu ul li a img {
    margin-right: 10px;
}

.footer_company_menu a {
    color: white;
    font-size: 13px;
    font-family: NotoSans;
    font-weight: 300;
}


.footer_logo {
    margin-bottom: 45px;
}

.footer_logo a img {
    width: 100px;
}

.footer_menu {
    display: flex;
}

.all_right {
    margin-top: 25px;
    text-align: right;
}



.social_icons {
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.footer_follow_title {
    text-align: right;
}


.social_icons div:nth-child(2) {
    margin: 0 13px;
}


.all_right span {
    color: #8F8F8F;
    font-family: NotoSans;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.all_right a {
    color: #8F8F8F;
}

.up {
    position: absolute;
    bottom: 0;
    height: 62px;
    right: 400px;
}

.up a {
    height: 62px;
    display: block;
}

.contact_space {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.contact-body form {
    padding-top: 45px;
}

.contact-body button {
    float: right;
    border: 1px solid #707070;
    background-color: white;
    width: 150px;
    height: 50px;
    color: #2D2D2D;
    font-family: NotoSans;
    font-size: 14px;
}

.contact-body button:hover {
    background-color: white;
    color: #2D2D2D;
    outline: unset !important;
    border-color: unset !important;
    box-shadow: unset !important;
}

     
.contact-body .form-row {
    margin-bottom: 35px;
}

.contact-body input {
    border-top: unset;
    border-right: unset;
    border-left: unset;
    border-bottom: 1px solid #BFBFBF;
}

.contact-body textarea {
    border-top: unset;
    border-right: unset;
    border-left: unset;
    border-bottom: 1px solid #BFBFBF;
}

.contact_container {
    margin-bottom: 70px;
}

.contact_space span {
    width: 155px;
}

.contact_space img {
    margin-right: 10px;
}


.popup-gallery  a {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}


.popup-gallery  a  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery_in_block {
    position: absolute;
    top: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* POPUP SLIDER */

button.mfp-arrow-left {
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(/assets/images/sliderleft.png)!important;
}

button.mfp-arrow-right {
    background-position: center center;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    background-image: url(/assets/images/sliderleft.png)!important;
}

.mfp-arrow-left {
    left: 30px;
}

.mfp-arrow-right {
    right: 30px;
}

.mfp-arrow:before {
    content: unset!important;
}


.mfp-arrow:after {
    content: unset!important;
}

.mfp-arrow {
    width: 70px!important;
    height: 70px!important;
}

.smMenuList ul li a {
        text-decoration: none;
        color: white;
        font-size: 15px;
        font-weight: bold;
        position: relative;
        font-family: NotoSans;
}
.smMenuList > ul > li {
    list-style-type: none;
    padding: 0 20px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* SM MENU */

.smMenu {
    display: none;
}

.menuBar img {
    cursor: pointer;
}

.menuBar {
    width: 26px;
    height: 17px;
    display: flex;
    align-items: center;
}

.smMenuSlide.active {
    right: 0;
    width: 100%;
}

/* ALL MEDIA SETTINGS */

@media only screen and (max-width: 1366px) {
    .main_nav {
        width: calc(100% - 510px);
    }
    .swiper-container5 .swiper-wrapper {
        margin-left: -220px;
    }
    .swiper-container3 .swiper-slide {
        width: 375px!important;
    }
    .swiper-container3 .swiper-wrapper {
        margin-left: 110px;
    }
    .slider_intro a {
        margin-top: 30px;
    }
    .team_member {
        width: 375px;
        height: 265px;
    }
    .team_bg {
        height: 520px;
    }
    .main_logo {
        width: 225px;
    }
    .space {
        width: 150px;
    }
    .slider_intro h1 {
        font-size: 45px;
    }
    .arrows {
        left: 36%;
    }
}


@media only screen and (max-width: 1150px) {
    .pit_left {
        width: 340px;
    }
    .pit_right {
        width: 580px;
    }
    .projects_info h4 {
        font-size: 18px;
    }
}


@media only screen and (max-width: 1024px) {
    .main_logo {
        width: 200px;
    }
    .space {
        width: 45px;
    }
    .main_nav {
        width: calc(100% - 380px);
    }
}

@media only screen and (max-width: 990px) {
    .main_nav {
        display: none;
    }
    .space {
        width: calc(50% - 100px);
    }
    .language_nav {
        width: calc(50% - 100px);
        justify-content: flex-end;
    }
    .smMenu {
        display: flex;
        width: 100%;
        height: 100%;
        position: relative;
        align-items: center;
        justify-content: flex-start;
        padding-left: 15px;
    }
    .smMenuSlide {
        top: 0;
        height: 100vh;
        position: fixed;
        width: 350px;
        background-color: #009BDF;
        z-index: 9999;
        text-align: center;
        right: -379px;
        padding: 110px 50px;
    }
    .closeMenu {
        position: absolute;
        left: 45px;
        top: 45px;
        cursor: pointer;
    }
    .projects_inside_top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .pit_left {
        width: 100%;
        margin-bottom: 20px;
    }
    .pit_right {
        width: 100%;
        margin-bottom: 20px;
    }
    .projects_filters button {
        padding: 10px 25px;
        font-size: 12px;
    }
    .fluid_flexible {
        display: flex;
        justify-content: flex-start;
        align-items: unset;
        margin-bottom: 20px;
        flex-direction: column;
    }
}

@media only screen and (max-width: 585px) {
    .page_fluid_text h1 {
        font-size: 27px;
    }
    .inside_bg {
        left: -135%;
        top: -35%;
    }
    .inside_dots_top {
        right: -55%;
    }
    .footer_container {
        padding-bottom: 75px;
    }
    footer {
        min-height: 320px;
        height: unset;
    }
    .footer_follow_title {
        text-align: left;
    }
    .footer_follow_title h3::before {
        left: 0;
    }
    .social_icons {
        justify-content: flex-start;
    }
    .all_right {
        text-align: left;
    }
    .up {
        right: 20%;
    }
    .language_nav {
        padding-right: 15px;
    }
    .about_page_share {
        display: none;
    }
    .about_page_share_left {
        display: none;
    }
    .main_logo {
        width: 140px;
    }
    .page_fluid {
        padding: 25px 0;
    }
    .main_logo img {
        height: 55px;
        width: 100px;
    }
    .language_nav {
        width: calc(50% - 50px);
    }
    .space {
        width: calc(50% - 50px);
    }
    .space {
        height: 50px;
    }
    .members_container {
        height: 150px;
    }
    #header_fluid {
        height: 50px;
    }
    .language_nav {
        height: 50px;   
    }
    .inside_dots_top {
        display: none;
    }
    .inside_bg {
        display: none;
    }
    .services_column {
        margin-top: 10px;
    }
    .page_fluid_text h1 {
        font-size: 26px;
    }
    .services_blue {
        display: none;
    }
}


